/*fonts links*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/* universal styles */

*{
    margin: 0;
    font-family: 'Work Sans';
}

/* header related styles */

.heder-title {
    color:#151414;
    text-align: right;
    font-family: 'Work Sans';
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.heder-description {
    color:#444343 ;
    text-align: right;
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 30px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    padding: 21px 25px 20px 25px;
    border:0 ;
    text-align: center;
}

.banner{
    text-align: right;
    display: block;
    padding: 280px 250px 130px 850px;
}

.header {
    background-image: url('images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.info-container {
    display: flex;
    align-items: center;
    padding: 170px 322px 131px 250px;
}

.mew {
    color: #151414 ;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.mow {
    color: #444343 ;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin-bottom: 16px;
}

.failure {
    display: block;
}

.failures {
    color: #444343;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-bottom: 8px;
}

i {
    width: 24px;
    height: 24px;
    color: #16D887; 
    margin-right: 5px;
}

.right-body {
    display: block;
    margin-top: 160px;
    margin-left: 105.22px;
}

.title-three {
    color: #151414 ;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.pictures {
    display: flex;
    padding: 49.7px 230px 130px 230px;
    justify-content: space-between;
}

.pic-one {
    text-align: center;
}

.pi {
    color: #151414 ;
text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 24px;
}

.pu {
    color: #737272;
text-align: center;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 16px;
}

.ku {
    width: 92.958px;
height: 92.958px;
margin-top: 39.7px;
}

.bodbod {
    color: #FFF;
    font-family: 'Work Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 17px;
}

.budbud {
    width: 140px;
height: 60px;
border-radius: 5px;
color: #FFF;
background: #F15B22;
text-align: center;
font-family: 'Work Sans';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: 0;
}

.mhpo{
    background-image: url('images/gradient1.png'), url('images/watch.png');
    margin-bottom: 131px;
    width: 1140px;
    height: 300px;
    margin: 131px auto;
    margin-top: 50px;
}

.mhp{
    padding:60px 600px 60px 65px;
}

footer{
    background:#151414 ;
    width: 100%;
    height: 400px;
    padding: 130px 230px 130px 230px;
}

.footoore {
    color: #F8F8F8;
    font-family: 'Work Sans';
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.tootoore {
    color: #FFF;
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 24px;
}

.ting {
    color: #FFF;
font-family:'Work Sans';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}

#cing {
  margin-bottom: 16px;
}

#ping {
    margin-bottom: 32px;
}
 .container-footer {
    display: flex;
 }

 .left-footoore {
    margin-right: 380px;
 }
 
 .dul{
  margin-right: 10px;
 }

 .munni {
    color: #FFF;
font-family: 'Work Sans';
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 31px;
 }

 input {
    width: 325px;
height: 64px;
border-radius: 8px;
border: 1px solid #FFF;
color: black;
font-family:'Work Sans';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 7px 158px 7px 21px;
}

.kaif {
    width: 170.106px;
height: 64px;
border-radius: 8px;
background: #FFF;
color: #F15B22;
font-family: 'work sans';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 20px 36.02px 20px 36.02px;
margin-top: 16px;
}

button:hover {
    box-shadow: 5px 5px 5px 5px #444343 ;
}



